* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.banner-container{
    display: flex;
    background-color: #fdeef1;
    align-items: center;
    padding: 30px 30px 0px 150px;
}
.banner-pic{
    height: 500px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    margin-bottom: 36px;
}
.banner-description{
    color: #797979;
    font-size: 18px;
    margin-bottom: 36px;
}
.btn{
    border-radius: 8px;
    color: #FFF;
    background: #E55473;
    border: none;
    font-size: 20px;
    padding: 15px 24px;
}
/* flowers section start */
.featured-title{
    width: 500px;
    text-align: center;
    margin-top: 178px;
    margin: 170px 0px 48px 380px;
}
.section-title{
    color: #272727;
    font-size: 40px;
    margin-bottom: 24px;
}
.section-description{
    color: #272727;
    font-size: 18px;
}
.flowers-pic{
    display: flex;
    justify-content: center;
}
/* Our Flowers pic section start */
.flowers-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
}
.flowers-container p{
    margin-bottom: -32px;
}
.flower-pic img{ 
    height: 320px;
}
.flower-title{
    color: #272727;
    font-size: 24px;
    text-decoration-line: underline;
}
#Cotton-Candy-Pink{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px 50px 0;
}
#color-Pale-Aqua{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 10px 0;
}
#color-Mint-Cream{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 50px 0;
}
#background-color-Mint-Cream{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 50px 0;
}
/* services & technical support section */
.services-support-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #F4F4F4;
    width: 1030px;
    height: 320px;
    margin: 115px;
}
.icon-title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
/* Hot Deal section */
.offer-section{
    display: flex;
    justify-content: center;
    background-color: #F5EDEF;
    align-items: center;
    height: 480px;
}
.hot-deal{
    width: 50%;
    text-align: center;
    padding: 50px;
}
.deal-description{
    margin: 25px;
}
/* our best sellers section */
.our-best-sellers{
    text-align: center;
    margin: 0 400px;
}
.our-best-sellers-title{
    color: #272727;
    font-size: 40px;
    margin-top: 100px;
}
.our-best-sellers-description{
    color: #272727;
    font-size: 18px;
    margin-top: 20px;
}
.our-best-sellers-pic{
    display: flex;
    justify-content: space-around;
    height: 320px;
    gap: 5px;
    margin: 50px;
}
.our-best-sellers img{
    padding: 0 40px;
}